<%- include('cabecalho'); %>
<div class="row pagina">
  <div class="col-md-3 menu g-0">
    <ul class="list-group">
	  <li class="list-group-item menu pt-3 pb-3">
	    <a class="tLateral d-flex align-items-center" href="/painel">
		  <i class="material-icons pe-2">home</i>HOME
		</a>
	  </li>

	  <li class="tLateral list-group-item menu pt-3 pb-3 d-flex align-items-center">
	    <i class="material-icons pe-2">computer</i>CADASTROS
	  </li>

	  <li class="list-group-item menu pt-3 pb-3 ps-5">
	    <a class="tLateral d-flex align-items-center" href="/cadastrar-texto">
		  <i class="material-icons pe-2">subject</i>Mensagens de Texto
		</a>
	  </li>

	  <li class="list-group-item menu pt-3 pb-3 ps-5">
	    <a class="tLateral d-flex align-items-center" href="/cadastrar-media">
		  <i class="material-icons pe-2">perm_media</i> Mensagens de medias
		</a>
	  </li>
	  
	  <li class="list-group-item ativo menu pt-3 pb-3">
	    <a class="tLateral d-flex align-items-center activoTexto" href="/conversas-cadastradas">
		  <i class="material-icons pe-2">info</i>INFORMAÇÕES CADASTRADAS
	    </a>
	  </li>

	  <li class="list-group-item menu pt-3 pb-3">
	    <a class="tLateral d-flex align-items-center" href="/treinar-robo">
		  <i class="material-icons pe-2">smart_toy</i>TREINAR ROBÔ</a>
	  </li>
	</ul>
  </div>
  <div class="col-md-9">
    <div class="container">
	  <div class="row">
	    <div class="row">
		  <h2 class="titulo2 mt-3 mb-3">Informações cadastradas</h2>
		</div>
		<div class="row">
			<p class="text-end">Caso desejar excluir as medias cadastradas, <a href="/medias-cadastradas">clique aqui</a></p>
		  </div>
	  </div>
	  <div class="borda-tabela">
		<div class="row mb-3">
		  <div class="col-sm-5">
			<h5>Pergunta</h5>
		  </div>
		  <div class="col-sm-5">
		    <h5>Resposta</h5>
		  </div>
	    </div>
		<hr/>
		<div class="tabela2">
		<%- include('mensagem'); %> 
		  <% for(let item of dados){%>
		    <div class="row mb-3" id="resposta_<%= item.id_resposta %>">
		      <div class="col-sm-5 text-break info-cadastradas">
			    <%= item.pergunta %>
			</div>
			<div class="col-sm-5 text-break info-cadastradas">
		      <%= item.resposta %>
			</div>
			<div class="col-sm-2 mt-2 d-flex justify-content-between">
		      <i class=" text-danger material-icons" onclick="deletarInformacao(<%= item.id_resposta%>)">delete</i>
			  <i class="text-success material-icons" onclick="editarInformacao(<%= item.id_pergunta %>, <%= item.id_resposta %>,'<%= item.pergunta %>', '<%= item.resposta %>')">edit</i>
			</div>
	      </div>
		  <% } %>
	    </div>

		<!-- <% var itemPorPagina = 5; %>
		<% var totalRegistro = dados.length; %>
		<% var numPaginas = Math.ceil(totalRegistro/itemPorPagina);  %>
		<nav aria-label="...">
			<ul class="pagination">
			  <li class="page-item">
				<a href="conversas-cadastradas?pagina=0"><span class="page-link">Próxima</span></a>
			  </li>
			  <%=numPaginas%>
			  <% for(let i=0; i < numPaginas; i++){
			 	var estilo = '';
				 
			  		estilo = 'class=\"active\"';
				 %>
				<li <%= estilo %> aria-current="page">
					<a class="page-link" href="conversas-cadastradas?pagina=<%= numPaginas-1 %>"><%= i+1 %></a>
				</li>
			  <% }%>	
			  <li class="page-item">
				<a href="conversas-cadastradas?pagina=0"><span class="page-link">última</span></a>
			  </li>
			</ul>
		  </nav> -->
	  </div>
	</div>
  </div>
</div>
<%- include('rodape'); %>