<%- include('cabecalho'); %>
<div class="row pagina">
  <div class="col-md-3 menu g-0">
    <ul class="list-group">
	  <li class="list-group-item menu pt-3 pb-3">
	    <a class="tLateral d-flex align-items-center" href="/painel">
		  <i class="material-icons pe-2">home</i>HOME
		</a>
	  </li>

	  <li class="tLateral list-group-item menu pt-3 pb-3 d-flex align-items-center">
	    <i class="material-icons pe-2">computer</i>CADASTROS
	  </li>

	  <li class="list-group-item menu pt-3 pb-3 ps-5">
	    <a class="tLateral d-flex align-items-center" href="/cadastrar-texto">
		  <i class="material-icons pe-2">subject</i>Mensagens de Texto
		</a>
	  </li>

	  <li class="list-group-item menu pt-3 pb-3 ps-5">
	    <a class="tLateral d-flex align-items-center" href="/cadastrar-media">
		  <i class="material-icons pe-2">perm_media</i> Mensagens de mídias
		</a>
	  </li>
	  
	  <li class="list-group-item ativo menu pt-3 pb-3">
	    <a class="tLateral d-flex align-items-center activoTexto" href="/conversas-cadastradas">
		  <i class="material-icons pe-2">info</i>INFORMAÇÕES CADASTRADAS
	    </a>
	  </li>

	  <li class="list-group-item menu pt-3 pb-3">
	    <a class="tLateral d-flex align-items-center" href="/treinar-robo">
		  <i class="material-icons pe-2">smart_toy</i>TREINAR ROBÔ</a>
	  </li>
	</ul>
  </div>
  <div class="col-md-9">
    <div class="container">
	  <div class="row">
	    <h2 class="titulo2 mt-3 mb-3">Mídias cadastradas</h2>
	  </div>
	  <div class="borda-tabela">
		<div class="row mb-3">
		  <div class="col-sm-10">
		    <h5>Mídia</h5>
		  </div>
	    </div>
		<hr/>
		<div class="tabela2">
		<%- include('mensagem'); %> 
		  <% for(let item of dados){%>
		    <div class="row mb-3" id="media_<%= item.id %>">
		      <div class="col-sm-11 text-break info-cadastradas">
			    <%= item.media %>
			</div>
			<div class="col-sm-1 mt-2 d-flex justify-content-between">
		      <i class=" text-danger material-icons" onclick="deletarMedia(<%= item.id%>)">delete</i>
			</div>
	      </div>
		  <% } %>
	    </div>
	  </div>
	</div>
  </div>
</div>
<%- include('rodape'); %>